%div.chat-main__message{"data-message-id": "#{message.id}"}
  %h5.message__user-name
    = message.user.name
    %span.message__date
      = message.created_at
  - if message.body.present?
    %p.message__text
      = message.body
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
