= render 'shared/side_bar'

%div.chat-main
  %div.chat-main__group
    %div.chat-main__group-content
      %h3.chat-main__group-name
        = @group.name
      %p.chat-main__group-members
        - @group.users.each do |user|
          %span=user.name
    %div.chat-main__group-button
      = link_to "Edit", edit_group_path(@group), class: "chat-main__group-button-edit"
  %div.chat-main__contents
    %div.chat-main__messages
      = render @messages
    = render 'form'
